{#
  乐谱查看器弹窗组件
  
  使用方法:
  {% from 'components/score-dialog.html' import score_dialog %}
  {{ score_dialog() }}
  
  需要引入:
  - static/js/score-viewer.js
#}

{% macro score_dialog() %}
<!-- 弹窗：乐谱 -->
<dialog id="score-dialog">
    <div class="dialog-header">
        <h3 id="score-title" class="font-medium text-lg text-primary">乐谱</h3>
        <button class="btn-icon" onclick="closeScoreViewer()"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="dialog-body">
        <iframe id="score-frame"></iframe>
    </div>
</dialog>
{% endmacro %}
